In [9]:
from tqdm.auto import tqdm
import pandas as pd
import numpy as np

In [13]:
tqdm.pandas(desc="my bar!")

In [15]:
df.progress_apply(lambda x: x**2)

my bar!:   0%|          | 0/6 [00:00<?, ?it/s]

          0     1     2     3     4     5
0      9801  2809  1296   625  3025  5625
1       529  7396     9  3025  1444  5041
2         1  4356   961  7056  2304    25
3      1764  5625  1936    25  4624  1681
4      6084  2601  2704  2916   529   225
...     ...   ...   ...   ...   ...   ...
99995  6889  2601  2916   400  8836   225
99996  6084    16  2209  4096  1369  2304
99997  6241  2809  8836  1764  9604   484
99998  2401  7056  6400   441  3721   144
99999  1521  5776  1936  1849   121   625

[100000 rows x 6 columns]